In [1]:
import pandas as pd
import numpy as np

In [2]:
all_data = pd.read_csv("/Users/robinlinacre/Downloads/mortgage-and-landlord-possession-statistical-data/LA CSV masked.csv", na_values="-")
all_data = all_data[all_data["possession_type"] == "Accelerated_Landlord"]
all_data.head()

,Year,Quarter,possession_type,possession_action,LA_code,local_authority,county_ua,region,value_msk
0,2003,Q1,Accelerated_Landlord,Claims,E06000055,Bedford UA,Bedford UA,East,9
1,2003,Q1,Accelerated_Landlord,Claims,E07000008,Cambridge,Cambridgeshire,East,7
2,2003,Q1,Accelerated_Landlord,Claims,E07000009,East Cambridgeshire,Cambridgeshire,East,NaN
3,2003,Q1,Accelerated_Landlord,Claims,E07000010,Fenland,Cambridgeshire,East,9
4,2003,Q1,Accelerated_Landlord,Claims,E07000011,Huntingdonshire,Cambridgeshire,East,NaN

In [3]:
data = all_data.pivot_table(index=["possession_type",  "Year", "Quarter", "LA_code"], columns=["possession_action"], values="value_msk", aggfunc="mean").reset_index()
data = data.drop("possession_type",axis=1)
data.head()

possession_action,Year,Quarter,LA_code,Claims,Outright_Orders,Repossessions,Suspended_Orders,Warrants
0,2003,Q1,1000,428,341,183,NaN,209
1,2003,Q1,E06000001,6,NaN,NaN,NaN,NaN
2,2003,Q1,E06000002,NaN,NaN,NaN,NaN,NaN
3,2003,Q1,E06000003,NaN,NaN,NaN,NaN,NaN
4,2003,Q1,E06000004,NaN,6,NaN,NaN,NaN

In [4]:
data["date"] = data["Year"].astype(str) + data["Quarter"]
data["date"] = pd.to_datetime(data["date"])
data = data.drop(["Year", "Quarter"], axis=1)

In [5]:
data.columns = [c.lower() for c in data.columns]
# data = data.fillna(0)
data = data.drop(["suspended_orders"], axis=1)
data = data[data["la_code"].str.len() > 7]
data.to_csv("accelerated_landlord_data.csv", index=False)